TOP -> NP VP
TOP -> Aux NP VP
TOP -> VP
NP  -> PRP
NP  -> PRP$
NP  -> WP
NP  -> WP$
NP  -> NNP
NP  -> NNPS
NP  -> DT Nom
Nom -> NN
Nom -> NNS
Nom -> Nom NN
Nom -> Nom PP
VP  -> VB
VP  -> VBD
VP  -> VBG
VP  -> VBN
VP  -> VBP
VP  -> VBZ

VP  -> VB NP
VP  -> VBD NP
VP  -> VBG NP
VP  -> VBN NP
VP  -> VBP NP
VP  -> VBZ NP

VP  -> VB NP PP
VP  -> VBD NP PP
VP  -> VBG NP PP
VP  -> VBN NP PP
VP  -> VBP NP PP
VP  -> VBZ NP PP

VP  -> VB PP
VP  -> VBD PP
VP  -> VBG PP
VP  -> VBN PP
VP  -> VBP PP
VP  -> VBZ PP

VP  -> VP PP
PP  -> IN NP
